<app-nav-bar [user]="Message"></app-nav-bar>
<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #818d99;">
    <div class="card p-4" style="width: 30rem;">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Update Product</h2>
        <form [formGroup]="updateproductForm" (ngSubmit)="updateproduct()">
          <div class="form-group">
            <label for="ProductName">Product Name:</label>
            <input id="ProductName" type="text" formControlName="ProductName" class="form-control" placeholder="Enter Product Name">
            <div *ngIf="updateproductForm.get('ProductName')?.touched && updateproductForm.get('ProductName')?.invalid" class="alert alert-danger mt-2">
              <div *ngIf="updateproductForm.get('ProductName')?.errors?.['required']">Product Name is required.</div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="ProductDescription">Product Description:</label>
            <input id="ProductDescription" type="text" formControlName="ProductDescription" class="form-control" placeholder="Enter Product Description">
            <div *ngIf="updateproductForm.get('ProductDescription')?.touched && updateproductForm.get('ProductDescription')?.invalid" class="alert alert-danger mt-2">
              <div *ngIf="updateproductForm.get('ProductDescription')?.errors?.['required']">Product Description is required.</div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="ProductPrice">Product Price:</label>
            <input id="ProductPrice" type="text" formControlName="ProductPrice" class="form-control" placeholder="Enter Product Price">
            <div *ngIf="updateproductForm.get('ProductPrice')?.touched && updateproductForm.get('ProductPrice')?.invalid" class="alert alert-danger mt-2">
              <div *ngIf="updateproductForm.get('ProductPrice')?.errors?.['required']">Product Price is required.</div>
              <div *ngIf="updateproductForm.get('ProductPrice')?.errors?.['min']">Price must be a positive number.</div>
            </div>
          </div>
          <br>
    
          <button type="submit" class="btn btn-primary w-100" [disabled]="updateproductForm.invalid">Submit</button>
    
  